
.ball {
    position: absolute;
    width: 10px; /* Adjust the size of the balls as needed */
    height: 10px;
    background-color: #fe2a2a; /* Color of the balls */
    border-radius: 50%;
    animation-timing-function: linear;
    transform-origin: center;
}

.intro-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: auto; */
    overflow: hidden;
    background-color: black;
    margin-bottom: 100px;
    
}

.intro-cont-img{
    top: 10px;
    width: 50%;
    z-index: 0;
    overflow-y: hidden;
    margin-bottom: -7px;
}

.intro-cont-img img{
    width: 100%;
    
}

.intro-cont-text-area{
    width: 50%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mooli', sans-serif;
}

.intro-cont-text-area h1{
    width: 70%;
    margin-bottom: 0;
    text-align: center;
    font-size: 40px;
}
.intro-cont-text-area span{
    font-size: 25px;
    margin-bottom: 30px;
}




#services{
    
    top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 50px; */
    /* margin-bottom: 100px; */
}



.service-menu-item{
    background-color: white ;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    font-family:'Mooli', sans-serif;
    margin-left: 15px;
    cursor: pointer;
    margin-bottom: 100px;
}
#services h1{
    font-size: 40px;
    font-family: 'Mooli', sans-serif;
}
.content {
    display: none;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-bottom: 200px;
}
.content img{
    width: 50%;
    height: auto;
    margin-right: 40px;
    border-radius: 20px;
}

.content .service-content-text-area{
    text-align: left;
    font-family: 'Mooli', sans-serif;
}



.about{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: auto;
    margin: auto;
    background-image: url(../MEDIA/about_background.jpg);
    opacity: 0.9;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px rgb(65, 64, 64);
}
#about-h2{
    text-align: center;
    font-family: 'Mooli', sans-serif;
    font-size: 40px;
    margin-bottom: 2rem;
}


.about img{
    width: 50%;
    border-radius: 20px;
    margin-left: 50px;
} 

.about .about-text-area{
    text-align: center;
    font-family: 'Mooli', sans-serif;

}
.about .about-text-area h3{
    font-size: 30px;
}

.about .about-text-area p{
    text-align: left;
    margin-top: 2rem;
}

.about-text-area-btns{
    float: left;
    margin-top: 2rem;
}


#get-quote-section{
    display: flex;
    flex-direction: row;
    background-image: url(../MEDIA/quote-background.jpg);
    width: 100%;
    margin-top: 100px;
    font-family: 'Mooli', sans-serif;
    padding: 50px 25px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#get-quote-section-text{
    font-size: 30px;
    margin-right: 50px;
}



/* Define styles for the section */
.our-process {
    padding: 50px 0;
    text-align: center;
    background-color: #f4f4f4;
    margin-bottom: 50px;
}

.our-process h1{
    font-family: 'Mooli',sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}

.our-process p{
    font-family: 'Mooli',sans-serif;
    font-size: 25px;
    margin: 0;
    margin-bottom: 20px;
}



/* Define styles for the timeline */
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Define styles for individual timeline items */
.timeline-item {
    display: flex;
    align-items: flex-start;
    margin: 30px 0;
    max-width: 800px;
}

.timeline-icon {
    width: 80px;
    height: 80px;
    background-color: #f0f3f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.timeline-icon img {
    width: 50px;
    height: 50px;
}

.timeline-content {
    background: linear-gradient(to right, #007bff, #ff4500);
    color: #fff;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
     
    z-index: 2; 
}


.timeline-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
    font-family: 'Mooli', sans-serif;
}

.timeline-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #ffffff;
    font-family: 'Mooli', sans-serif;
}


.process-divider {
    width: 100%;
    height: 20px; 
    background-image: linear-gradient(to right, #007bff, #ff4500);
    border-radius: 10px;
    margin: 20px 0;
}


.timeline-item {
    display: flex;
    margin: 20px 0;}


#process-contact-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: auto;
    
}


.contact-text-area{
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

#contact h1{
    font-family: 'Mooli' , sans-serif;
    font-size: 55px;
    margin-bottom: 10px;
}

#contact p{
    font-family: 'Mooli', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}


@media(max-width:800px){
    #intro{
        position: relative;
        top: 50px;
    }
    .intro-cont{
        width: 100vw;
        height: 75vh;
        flex-direction: column;
    }
    .intro-cont-img{
        width: 100%;
    }
    .intro-cont-text-area{
        width: 100%;
    }
    .intro-cont-text-area h1{
        font-size: 5vw;
    }
    .intro-cont-text-area span{
        font-size: 3vw;
    }
    

}